.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    border: 6px solid #ffffff;
    border-bottom-color: #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: rotate 3s linear infinite;

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
